<app-navbar></app-navbar>
<main>
    <div class="container mt-4"> 
        <form method="POST" id="form_compra" name="form_compra" autocomplete="off">
            
        <div class="card">
            <div class="card-body">
                <div class="form-group ">
                    <div class="row">
                            <input type="hidden" id="id_producto" name="id_producto"/>
                            <input type="hidden" id="id_compra" name="id_compra" value=""/>
                        <div class="col-12 col-sm-4"> 
                            <div class="row">
                                <label class="form-label" >Código Producto</label> 
                            </div>
                            <div class="input-group mb-1 input-group-sm">
                                <input  class="form-control " id="codigo" name="codigo" type="text" placeholder="Escribe el código y luego enter." data-bs-toggle="tooltip" data-bs-placement="bottom" title="Codigo" onkeyup="buscarProducto(event,this,this.value)" autofocus>
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#lista"><i class="fa-solid fa-magnifying-glass"></i></button>                             
                            </div>
                            <div class="row">
                                <label for="codigo" id ="resultado_error" style="color: red"></label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label>Nombre del producto</label> 
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm me-md-8" id="nombre" name="nombre" type="text" disabled />
                            </div> 
                        </div>
                        <div class="col-12 col-sm-4">
                            <label>Cantidad</label>
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm" id="cantidad" name="cantidad" type="number" onkeyup="Calcula_cantidad_subtotal(event,this,codigo.value,this.value)" onclick="Calcula_cantidad_subtotal2(codigo.value,cantidad.value)"  disabled/>
                            </div> 
                        </div>
                    </div>   
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label>Precio</label> 
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm" id="precio_compra" name="precio_compra" type="text" disabled/>
                            </div> 
                        </div>
                        <div class="col-12 col-sm-4">
                            <label>Subtotal</label>
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm" id="subtotal" name="subtotal" type="text" disabled step="0.01"/>
                            </div> 
                        </div>
                        <div class="col-12 col-sm-4">
                            <label><br></label> 
                            <div class="container-fluid px-0 py-2">
                            <button class="btn btn-primary btn-sm" id="agregar_producto" name="agregar_producto" type="button" onclick="agregarProducto(id_producto.value,codigo.value,cantidad.value)">Agregar producto</button>
                            </div> 
                        </div>
                    </div>   
                </div>
            </div>
        </div>
         <br>
         <div class="card">
        
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tablaProductos" class="table table-sm table-bordered table-hover">
                        <thead >
                            <tr>
                                <th colspan="7" class="text-center">DETALLE DE VENTA</th>
                            </tr>
                            <tr class="table-dark">
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th width= "1%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Milanesa de Pollo</td>
                                <td>Milanesa de Pollo</td>
                                <td>12.00</td>
                                <td>2</td>
                                <td>24.00</td>
                                <td>
                                    <a onclick="eliminaProducto(1)" href="javascript:void(0);" ><i class="fas fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Pepsi</td>
                                <td>2L</td>
                                <td>10.00</td>
                                <td>7</td>
                                <td>70.00</td>
                                <td>
                                    <a onclick="eliminaProducto(3)" href="javascript:void(0);" ><i class="fas fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>CocaCola</td>
                                <td>2L</td>
                                <td>15.00</td>
                                <td>2</td>
                                <td>30.00</td>
                                <td>
                                    <a onclick="eliminaProducto(3)" href="javascript:void(0);" ><i class="fas fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid px-0 py-3">
                    <div class="row">
                    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                            <label style="font-weight: bold; font-size: 30px; text-align: center;">Total Bs.</label>
                            <input type="text" id="total" name="total" size="6" readonly="true" value="124.00" style="font-weight: bold; font-size: 30px; text-align: center;"/>
                            <button class="btn btn-success" type="button" id="completa_compra">Completar venta</button>
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
        </form>   
    </div>

     <!-- Modal lista product-->
 <div class="modal fade" id="lista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 text-center fw-bold"id="exampleModalLabel">LISTA DE PRODUCTOS</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card-body"> 
              <table id="datatablesSimple" class="table-sm table table-bordered table-hover ">
                  <thead>
                      <tr>
                          <th>Código</th>
                          <th>Nombre</th>
                          <th>Descripción</th>      
                          <th>Precio</th>               
                          <th>stock</th>
                          <th width= "1%"></th>        
                      </tr>
                  </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">1</td>                              
                            <td class="align-middle">CocaCola</td>
                            <td class="align-middle">2L</td>
                            <td class="align-middle">12.00</td>
                            <td class="align-middle text-center">36</td>
                            <td><a class="badge bg-success" onclick="buscarproducto2(1)" rel="tooltip" data-placement="top" title="Seleccionar"> <i class="fas fa-plus"></i></a></td> 
                        </tr>
                        <tr>
                            <td class="align-middle">2</td>                              
                            <td class="align-middle">Pepsi</td>
                            <td class="align-middle">2L</td>
                            <td class="align-middle">10.00</td>
                            <td class="align-middle text-center">20</td>
                            <td><a class="badge bg-success" onclick="buscarproducto2(2)" rel="tooltip" data-placement="top" title="Seleccionar"> <i class="fas fa-plus"></i></a></td> 
                        </tr>
                        <tr>
                            <td class="align-middle">3</td>                              
                            <td class="align-middle">Milanesa de Pollo</td>
                            <td class="align-middle">Milanesa de Pollo	</td>
                            <td class="align-middle">12.00</td>
                            <td class="align-middle text-center">30</td>
                            <td><a class="badge bg-success" onclick="buscarproducto2(3)" rel="tooltip" data-placement="top" title="Seleccionar"> <i class="fas fa-plus"></i></a></td> 
                        </tr> 
                    </tbody>
              </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>






