<app-navbar></app-navbar>
<main>
    <div class="container mt-4"> 
        <form method="POST" id="form_compra" name="form_compra" autocomplete="off">
            
        <div class="card">
            <div class="card-body">
                <div class="form-group ">
                    <div class="row">
                            <input type="hidden" id="id_producto" name="id_producto"/>
                            <input type="hidden" id="id_compra" name="id_compra" value=""/>
                        <div class="col-12 col-sm-4"> 
                            <div class="row">
                                <label class="form-label" >Código Producto</label> 
                            </div>
                            <div class="input-group mb-1 input-group-sm">
                                <input  class="form-control" [(ngModel)]="id" id="codigo" name="codigo" type="text" placeholder="Escribe el código y luego enter." data-bs-toggle="tooltip" data-bs-placement="bottom" title="Codigo" onkeyup="buscarProducto(event,this,this.value)" autofocus>
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#lista"><i class="fa-solid fa-magnifying-glass"></i></button>                             
                            </div>
                            <div class="row">
                                <label for="codigo" id ="resultado_error" style="color: red"></label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label>Nombre del producto</label> 
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm me-md-8" [(ngModel)]="nombreProducto" id="nombreProducto" name="nombre" type="text" disabled/>
                            </div> 
                        </div>
                        <div class="col-12 col-sm-4">
                            <label>Cantidad</label>
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm" [(ngModel)]="cantidad" id="cantidad" name="cantidad" type="number" (click)="CalculaCantidadSubtotal()"   [disabled]="isDisabled"/>
                            </div> 
                        </div>
                    </div>   
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label>Precio</label> 
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm" [(ngModel)]="precio" id="precio_compra" name="precio_compra" type="text" disabled/>
                            </div> 
                        </div>
                        <div class="col-12 col-sm-4">
                            <label>Subtotal</label>
                            <div class="container-fluid px-0 py-2">
                            <input class="form-control form-control-sm" [(ngModel)]="subtotal" id="subtotal" name="subtotal" type="text" step="0.01" disabled/>
                            </div> 
                        </div>
                        <div class="col-12 col-sm-4">
                            <label><br></label> 
                            <div class="container-fluid px-0 py-2">
                            <button class="btn btn-primary btn-sm" id="agregar_producto" name="agregar_producto" type="button" (click)= "agregarItem()">Agregar producto</button>
                            </div> 
                        </div>
                    </div>   
                </div>
            </div>
        </div>
         <br>
         <div class="card">
        
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tablaProductos" class="table table-sm table-bordered table-hover">
                        <thead >
                            <tr>
                                <th colspan="7" class="text-center">DETALLE DE VENTA</th>
                            </tr>
                            <tr class="table-dark">
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th width= "1%"></th>
                            </tr>
                        </thead>
                        <tbody>
                      
                            <tr *ngFor="let item of listDetalleTemp">
                                <td>{{ item.item }}</td>
                                <td>{{ item.nombre }} </td>
                                <td>{{ item.descripcion }} </td>
                                <td>{{ item.precio }} </td>
                                <td>{{ item.cantidad }} </td>
                                <td>{{ item.subtotal }} </td>
                                <td>
                                    <a (click)="eliminaProducto(item)" href="javascript:void(0);" ><i class="fas fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
          
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid px-0 py-3">
                    <div class="row">
                    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                            <label style="font-weight: bold; font-size: 30px; text-align: center;">Total Bs.</label>
                            <input type="text" id="total"  [(ngModel)]="total" name="total" size="6" readonly="true" value="124.00" style="font-weight: bold; font-size: 30px; text-align: center;"/>
                            <button class="btn btn-success" type="button" id="completa_compra">Completar venta</button>
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
        </form>   
    </div>

     <!-- Modal lista product-->
 <div class="modal fade" id="lista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 text-center fw-bold"id="exampleModalLabel">LISTA DE PRODUCTOS</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card-body"> 
              <table id="datatablesSimple" class="table-sm table table-bordered table-hover ">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Descripción</th>      
                          <th>Precio</th>               
                          <th>stock</th>
                          <th width= "1%"></th>        
                      </tr>
                  </thead>
                    <tbody>
                        <tr *ngFor="let item of listProduct">
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }} </td>
                            <td>{{ item.precio }} </td>
                            <td>{{ item.stock }} </td>
                            <td><a class="badge bg-success" (click)="SeleccionarProducto(item)" rel="tooltip" data-placement="top" title="Seleccionar"> <i class="fas fa-plus"></i></a></td> 
                          </tr>
                    </tbody>
              </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>






